@import "../variables";

$light-gray: #f8fafc;
$transition-duration: 300ms;

.chapters-container {
  padding: 1.5rem; 

  .header {
    width: 50%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    
    .title {
      font-size: $font-size-medium;
      font-weight: bold;
    }

    .subtitle {
      font-size: $font-size-small;
      margin-top: 0.25rem;
    }

    .add-button {
      background-color: $admin;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      font-weight: bold;
      text-align: center;
      transition: background-color $transition-duration ease-in-out;

      &:hover {
        background-color: darken($admin, 10%);
      }
    }
  }
  
  .chapter-list {
    display: flex;
    flex-direction: column;

    .chapter {
      min-width: 40rem;
      background-color: white;
      border-radius: 0.5rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      padding: 0.5rem 1rem;
      transition: all $transition-duration ease-in-out;

      &-title {
        font-size: 1rem;
        font-weight: semi-bold;
      }
      
      &-content {
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
      }

      &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      }
    }
  }

  @media (max-width: 880px) { // Ajouté pour gérer les petits écrans
    .header {
      flex-direction: column;
      gap: 0.5rem; // Ajoute de l'espace entre le titre et le bouton sur mobile

      .title, .subtitle {
        text-align: center; // Centre le texte pour les petits écrans
      }
    }

    .chapter .flex .button {
      width: 100%; // Permettre aux boutons de remplir toute la largeur du conteneur
      margin-top: 0.5rem; // Ajouter un espace entre les boutons
    }
    .chapter {
      // background-color: blue !important; 
      padding: 0.5rem; // Diminuer le padding
      margin: 0.5rem 0; // Ajuster les marges pour un meilleur espacement
      width: auto; // Laisser le conteneur ajuster sa largeur automatiquement
      min-width: 15rem !important;
      max-width: 20rem !important;
    }
  
  }
}
