// import and name all my font here 

@font-face {
    font-family: 'CMU Serif';
    src: url('../fonts/cmunrm.ttf') format('truetype');
}
.cmu-serif {
    font-family: 'CMU Serif', serif;
}

@font-face {
    font-family: 'CMU Exercise Bold';
    src: url('../fonts/cmunbx.ttf') format('truetype');
}
.cmu-exercise-bold {
    font-family: 'CMU Exercise Bold', serif;
}

@font-face {
    font-family: 'CMU TI';
    src: url('../fonts/cmunti.ttf') format('truetype');
}
.cmu-ti {
    font-family: 'CMU TI', serif;
}

@font-face {
    font-family: 'CMU Serif Tx';
    src: url('../fonts/cmuntx.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}

.cmu-serif-tx {
    font-family: 'CMU Serif Tx', serif;
}

@font-face {
    font-family: 'CMU Serif roman';
    src: url('../fonts/cmunbmo.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'CMU TT';
    src: url('../fonts/cmuntt.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}

.cmu-tt {
    font-family: 'CMU TT', serif;
}