@import "variables";

.form-title {
    color: $text-color;
    font-size: $font-size-small; // Taille plus grande pour le titre
    font-weight: bold; // Gras pour plus d'importance
    line-height: 1.2; // Ajustement de l'espacement des lignes
    text-transform: uppercase;
    margin-bottom: 1rem;
    // Un petit effet de texte si vous le souhaitez
    // text-shadow: 1px 1px 0px rgba($text-gray, 0.5);
}

.form-explain {
    font-size : 0.65rem;
}

// pour les attributs disabled
[disabled] {
    cursor: not-allowed;
    opacity: 0.1;
}

// Wrapper for the form to center it on the page
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; // This ensures that the form is vertically centered in the viewport
    padding: 2rem;

    .form {
        background-color: $secondary-color;
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 2px 10px rgba($text-gray, 0.1);
        width: 100%;
        max-width: 650px; // Adjust width as necessary

        label {
            display: block;
            margin-bottom: 0.5rem;
            color: $text-gray;
            font-size: $font-size-small;
        }

        input,
        select,
        textarea {
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 1rem;
            border: 1px solid $text-gray;
            border-radius: 0.25rem;
            background-color: $primary-color;
            color: $text-color;
            font-size: $font-size-small;

            &:focus {
                outline: none;
                border-color: $admin;
                box-shadow: 0 0 0 0.2rem rgba($admin, 0.25);
            }
        }

        button,
        input[type="submit"] {
            padding: 0.75rem 1.5rem;
            border: none;
            border-radius: 0.25rem;
            background-color: $admin;
            color: $secondary-color;
            font-size: $font-size-small;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken($admin, 5%);
            }
        }
        input[type="checkbox"] {
            width: auto;
            margin-right: 0.5rem;
            margin-top: 0.75rem;
        }
        // checkbox checked
        input[type="checkbox"]:checked {
            background-color: green;
        }

        .form-group {
            margin-bottom: 1rem;
        }

        .form-error {
            color: $error-color;
            font-size: $font-size-xxsmall;
        }

        .form-success {
            color: $success-color;
            font-size: $font-size-xxsmall;
        }
    }
}

// Responsive
@media (max-width: 768px) {
    .form-title {
        font-size: $font-size-medium; // Taille de police plus petite sur les écrans mobiles
        margin-bottom: 1rem;
    }
    .form-wrapper {
        padding: 1rem;
    }
    .form {
        padding: 1rem;
        max-width: 100%;
    }
}
