@import "variables";

nav {
    background-color: $secondary-color;
    color: $text-color;
    // height: 4rem;
    z-index: 100;
  }

nav .logo {
    color: $text-color;
    font-size: $font-size-medium;
    font-weight: bold;
}

nav .link {
    color: $text-gray;
    font-size: $font-size-xsmall;
    // text-transform: uppercase;
    text-decoration: none;
}

nav .link:hover {
    color: $text-color;
}

nav .link.active {
    color: $text-color;
    font-weight: bold;
}

.popup {
    background-color: $primary-color;
}
.popup a {
    color: $text-color;
}
.popup a:hover {
    color: $text-gray;
    background-color: $secondary-color;
}

