// COLORS
$admin: #318CE7;
$primary-color: #F6EFE6;
$secondary-color: #FEFBF5;
$text-color: #000000;
$text-gray: #747474;
$success-color: #38c172;
$error-color: #e3342f;

// FONTS SIZE
$font-size-xxsmall: 0.5rem;
$font-size-xsmall: 0.75rem;
$font-size-small: 1rem;
$font-size-sm: 1.25rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-xlarge: 3rem;
$font-size-xxlarge: 4rem;

// SCROLLBAR
/* This will affect the scrollbar in the whole page */
::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll thumb on hover */
}

// speech bubble
  .speech-bubble {
        position: relative;
        background: #808080;
        border-radius: .4em;
        color: white;
        padding: 1em;
        font-size: 0.58rem;
        text-align: center;
        max-height: 42px;
    }

    .speech-bubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #808080;
        border-bottom: 0;
        border-left: 0;
        margin-left: -10px;
        margin-bottom: -20px;
    }