@import 'header';
@import 'variables';
@import 'home';
@import 'auth';
@import 'classe/show';
@import 'button/google';
@import 'form';
@import 'footer';
@import 'loader';
@import 'fonts';
@import 'katex';
@import 'timer';
@import 'correction';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: $primary-color;
}

h1{
    font-family: 'CMU Exercise Bold';
}

nav {
    font-family: 'CMU Serif roman';
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: $text-color;
}

.pdf-container {
    width: 100%;
}