@import 'header';
@import 'variables';
@import 'home';
@import 'auth';
@import 'classe/show';
@import 'button/google';
@import 'form';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: $primary-color;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: $text-color;
}