@import 'fonts';

// Styles généraux
.exercise-title, ::marker {
    font-family: "CMU Exercise Bold";
}

.solution-content, .dropdownCC, .exercise-cc {
    font-family: "CMU TI" !important;

}

.exercise-content, .solution-content, .dropdownCC {
    font-family: "CMU Serif";
    font-weight: 100;
}

.exercise-content span, .solution-content span, .clue-content span {
    font-size: 0.875rem;
}

.bloc-content span, .example-content span {
    font-size : 1rem;
}

.textup {
    font-family: "CMU Serif";
}

.textbf {
    font-family: "CMU Exercise Bold";
}

.texttt {
    font-family: "CMU TT";
    font-size: 0.875rem;
}

.textit {
    font-family: "CMU TI";
}

// Exemple de style spécifique pour 'proposition' 
.latex-prop {
    border: 1px solid red;
}

.latex-prop, .latex-cor, .latex-thm, .latex-definition, .latex-rappels, .latex-rem {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f8f8f8;
}

// Listes
.enumb {
    list-style-type: decimal;
    margin-left: 2rem;
}

li ol.enumb {
    list-style-type: lower-alpha;
}

li ol.enumb-decimal {
    list-style-type: decimal;
}

li ol.enumb-alpha {
    list-style-type: lower-alpha;
}

.point {
    list-style-type: disc;
    margin-left: 2rem;
}

.listpart {
    margin-left: -2rem;
    margin-top: 1rem;
}

// Flexbox
.latex-center, .latex-align, .latex-pmatrix {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.latex-minipage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #000;
    width: auto;
    padding: 0.5rem 0.5rem;
    padding-right: 1rem;
    // reduire l'espace entre les lignes
    line-height: 0.3;
}

.latex-boxed {
    border: 0.0625em solid #000;
    // padding top-bottom to 0.05rem
    padding: 0.80rem 0.5rem;
    margin: 0.5rem 0;
}

// KaTeX
.katex .mord.mtight, // indice puissance
.katex .mord.mtight .mbin, // signe "-" "+" entre indice puissance
.katex .mord.mtight .mrel, // signe "=" entre indice puissance
.katex .mord.mtight .mopen, // parenthèse ouvrante indice puissance
.katex .mord.mtight .mclose // parenthèse fermante indice puissance
{
    font-size: 0.65rem;
}

.katex .mord.mtight .mopen{// parenthèse ouvrante indice puissance
    font-size: 0.65rem !important;

}
// puissance de puissance
.katex .mord .msupsub .vlist-r .vlist span .mord.mtight .msupsub .vlist-r .vlist span .mord.mtight {
    font-size: 0.5rem;
    position: relative;
    top: 0.1rem;
}

.katex .mclose .msupsub .vlist-r .vlist span .mord.mtight .msupsub .vlist-r .vlist span .mord.mtight {
    font-size: 0.5rem;
    position: relative;
    top: 0.08rem;
}

.katex .msupsub .vlist-r .vlist span .mord.mtight { // indice puissance
    position: relative;
    top: -0.01rem;
}


span .op-limits .vlist-r .vlist span .mord.mtight { // limites
    font-size: 0.70rem;
}

span .msupsub span .hide-tail { // bail de la racine
    font-size: 0.5rem;
    margin-bottom: 0.10rem;
}
// .katex span .msupsub span .vlist-r .vlist span { // + en indice
//     // font-size: 0.55rem;
// }

@media (max-width: 768px) {
    .latex-boxed {
        border: 0.0625em solid #000;
        // padding top-bottom to 0.05rem
        padding: 0.30rem 0.30rem;
        margin: 0.25rem 0;
    }
}