// fixed top-16 right-0 w-28 h-14 rounded-lg box-shadow shadow-xl bg-black bg-opacity-50 p-4 m-2

.timer {
    position: fixed;
    top: 6.5rem;
    right: 1rem;
    width: 5rem;
    height: 2rem;
}

.timer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.timer-text {
    color: white;
    font-size: 0.875rem;
}

.finish-btn {
    position: fixed;
    top: 10rem;
    right: 1rem;
    width: 5rem;
    height: 2.5rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    background-color: #f56565;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pause-btn {
    position: fixed;
    top: 6.5rem;
    left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #48bb78;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pause-btn:hover {
    background-color: #2f855a;
}

@media (max-width: 768px) {
    .timer {
        top: 3rem;
        right: 0rem;
        width: 3.5rem;
        height: 2.5rem;
        padding: 0.5rem;
    }
    .timer-div {
        padding: 0.25rem;
    }
    .timer-text {
        font-size: 0.5rem;
    }

    .pause-btn {
        top : 3rem;
        left : 0.1rem;
        width: 2rem;
        height: 2rem;
    }

    .finish-btn {
        top: 6rem;
        right: 0rem;
        width: 3rem;
        height: 1rem;
        padding: 0.25rem;
        font-size: 0.5rem;
    }
}
