// fixed top-16 right-0 w-28 h-14 rounded-lg box-shadow shadow-xl bg-black bg-opacity-50 p-4 m-2

.timer {
    position: fixed;
    top: 6.5rem;
    right: 1rem;
    width: 5rem;
    height: 2rem;
}

.timer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.timer-text {
    color: white;
    font-size: 0.875rem;
}

.finish-btn {
    position: fixed;
    top: 10rem;
    right: 1rem;
    width: 5rem;
    height: 2.5rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    background-color: #f56565;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pause-btn {
    position: fixed;
    top: 6.5rem;
    left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #48bb78;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pause-btn:hover {
    background-color: #2f855a;
}

.return-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.75rem;
    position: absolute;
    top: 6rem;
    left: 1rem;
    color: black;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.return-btn:hover {
    background-color: #c3c8cc;
}

.next-btn { // flex row items-center gap-1 text-xs md:absolute md:top-32 md:right-4 md:black md:font-bold md:p-2 md:rounded mt-4 p-2 black rounded hover:bg-gray-200 transition-colors duration-300 ease-in-out
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.75rem;
    position: absolute;
    top: 9rem;
    left: 1rem;
    color: black;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.next-btn:hover {
    background-color: #c3c8cc;
}

.previous-btn { //flex row items-center gap-1 text-xs md:absolute md:top-32 md:left-4 md:black md:font-bold md:p-2 md:rounded mt-4 p-2 black rounded hover:bg-gray-200 transition-colors duration-300 ease-in-out
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.75rem;
    position: absolute;
    top: 9rem;
    right: 1rem;
    color: black;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.previous-btn:hover {
    background-color: #c3c8cc;
}

@media (max-width: 768px) {
    .return-btn {
        position: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
        font-size: 0.75rem;
        margin-top: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.25rem;
        transition-property: background-color;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }
    
    .next-btn {
        position: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
        font-size: 0.75rem;
        margin-top: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.25rem;
        transition-property: background-color;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }

    .previous-btn {
        position: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
        font-size: 0.75rem;
        margin-top: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.25rem;
        transition-property: background-color;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }

    .timer {
        position: absolute;
        top: 6rem;
        right: 1rem;
        width: 3.5rem;
        height: 2.5rem;
        padding: 0.5rem;
    }
    .timer-div {
        padding: 0.25rem;
    }
    .timer-text {
        font-size: 0.5rem;
    }

    .pause-btn {
        position: absolute;
        top : 7rem;
        left : 1.5rem;
        width: 2rem;
        height: 2rem;
    }

    .finish-btn {
        position:absolute;
        top: 9rem;
        right: 1.5rem;
        width: 3rem;
        height: 1rem;
        padding: 0.25rem;
        font-size: 0.5rem;
    }
}
